# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*.egg-info/

# ======================
# Virtual Environments
# ======================
.venv/
venv/

# ======================
# Jupyter
# ======================
.ipynb_checkpoints/

# ======================
# VS Code
# ======================
.vscode/

# ======================
# OS / System
# ======================
.DS_Store
Thumbs.db

# ======================
# Data 
# ======================
data/

# ======================
# Generated / downloaded files
# ======================
*.parquet
*.csv
*.xlsx
*.xls

# ======================
# Logs / temp
# ======================
*.log
